body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url("Images/back-img.jpg");
    background-size: cover;

}
h1{
    font-size: 50px;
}
.name-color{
    color: chocolate;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;

}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
width: 90%;
}
.hire-me-button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image:linear-gradient(chocolate,pink);
    font-weight: 700;
    color: black;
}
.expriance-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left:20px;
}
#back-end-expriance{
    border-left: 10px solid;
    border-image:linear-gradient(orange, tomato);  
    border-image-slice: 1;
}
#font-end-expriance{
    border-left: 10px solid;
    border-image:linear-gradient(blue,cyan);  
    border-image-slice: 1;
}
footer p{
    text-align: center;
}